
body,html {
  width: 100%;
  height: 100%; 
}

body {
  background-image: url(luke-stackpoole-540158-unsplashaurora.jpg);
  width: 100%;
  height: 100%;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44; 
}

header.startup {
  background: url(kvklogoturq.svg) center no-repeat;
  height: 100%;
}

header.startup h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: rgba(184, 217, 210);
  letter-spacing: -2px;
  font-size: 44px;
  margin-top:14px;
  margin-bottom: 238px; 
}

.btn {
  font-weight: 100;
  text-transform: uppercase;
  border-radius: 25px;
  margin: 0px 6px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: white;
}

.btn-xl {
  padding: .5rem 1rem; 
}

.btn-secondary {
  background-color: #FE4B58;
  background-color: rgba(64, 224, 208, .3);
  border-color: rgb(64, 224, 208);
  border-width: 3px; 
}

.btn-secondary:hover {
  background-color: rgb(0, 133, 119);
  border-color: white;
  border-width: 5px;
  cursor: pointer;
}
  